body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(50, 167, 250);
    font-family: cursive;
}
h1{
    background-color: white;
    padding: 24px;
    box-shadow:0 5px 8px rgba(0, 0, 0,.3);
    border-radius: 13px;
    margin: 10px;
}
